<div class="page page-tables-bootstrap">
    <!-- page header -->
    <!-- /page header -->
    <!-- page content -->
    <div class="pagecontent">
        <section class="tile">
            <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font right">Agregar
                    <strong> Tipo de Curso</strong></h1>

            </div>
                    <form name="form" class="form-validation">
                        <div class="form-group">
                            <div class="alert alert-danger" ng-repeat="error in errors">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                {{error[0]}}
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="">Nombre del tipo de curso</label>
                                <input type="text" class="form-control" ng-model="tipocurso.name">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="">Descripción</label>
                                <textarea ng-model="tipocurso.description"
                                          redactor="{plugins: ['table', 'video', 'alignment', 'iconic2']}" cols="30"
                                          rows="10" required>
                                </textarea>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <button type="button" ng-click="saveTypeCourse()" class="btn m-b-xs btn-info"  ng-disabled="form.$invalid">
                                <i class="fa fa-save"></i>  Guardar
                            </button>
                        </div>
                </form>


        </section>

    </div>
</div>