<section class="sub-banner sub-banner-course">
    <div class="awe-static bg-sub-banner-course"></div>
    <div class="container">
        <div class="sub-banner-content">
            <h2 class="big2 col-md-5 text-center text-success" style="color:midnightblue">PREGUNTAS FRECUENTES</h2>
        </div>
    </div>
</section>
<section id="mc-section-1" class="mc-section-1 section">
    <div class="awe-parallax bg-profile-feature"></div>
    <div class="overlay-color-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="mc-section-1-content-1">
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta1'); return false;">
                        1. ¿Cuáles son los requisitos que debo cumplir para poder obtener la organización de un congreso?</h2>
                    <div class="mc-text text-justify" id="pregunta1" style="display: none;">
                        Tener en claro el tema a tratar, y los posibles ponentes de reconocimiento, así como lugares que
                        pueden ser factibles para llevarlo a cabo. Nosotros te ayudaremos con la logística del evento,
                        así como de la recepción de los invitados y espectadores. Cabe mencionar que los congresos duran
                        entre 3 y 5 días.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta2'); return false;">
                        2. ¿Existe una temática específica para tratar en un congreso?</h2>
                    <div class="mc-text text-justify" id="pregunta2" style="display: none;">
                        Nuestra plataforma se enfoca en temas de investigación, ciencia y desarrollo tecnológico. Sin
                        embargo, para el caso de congresos estamos abiertos a realizarlos abarcando distintas temáticas.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta3'); return false;">
                        3.¿Es requisito haber realizado publicaciones anteriores de artículos en revistas para poder
                        publicar en esta? </h2>
                    <div class="mc-text text-justify" id="pregunta3" style="display: none;">
                        No, no es necesario haber realizado publicaciones anteriores. Nosotros te guiamos para publicar
                        tu primer artículo. Contamos con un equipo de evaluadores que permitirán la retroalimentación de
                        la publicación.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta4'); return false;">
                        4. ¿Puedo publicar un artículo sin ser investigador?</h2>
                    <div class="mc-text text-justify" id="pregunta4" style="display: none;">
                        Así es, nosotros contamos con  revistas de diferente categoría y te brindamos las herramientas
                        para que la realización del artículo sea sencilla.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta5'); return false;">
                        ¿Cómo?</h2>
                    <div class="mc-text text-justify" id="pregunta5" style="display: none;">
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta6'); return false;">
                        6. ¿Manejan distintos tipos de revistas? </h2>
                    <div class="mc-text text-justify" id="pregunta6" style="display: none;">
                        Así es, contamos con revistas de distinta categoría. Teniendo la oportunidad de publicar en
                        alguna de ellas, de acuerdo a la información presentada en el artículo, y siendo evaluada por
                        expertos en el tema.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta7'); return false;">
                        7. ¿Puedo recibir e impartir cursos y/o talleres al mismo tiempo?</h2>
                    <div class="mc-text text-justify" id="pregunta7" style="display: none;">
                        Si, puedes tanto recibir como dar cursos de temas de tu interés.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta8'); return false;">
                        8. ¿Puedo tomar más de un curso y/o taller en el mismo periodo?</h2>
                    <div class="mc-text text-justify" id="pregunta8" style="display: none;">
                        Si. Una vez adquirida la membresía podrás contar con ambos servicios de manera ilimitada.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta9'); return false;">
                        9. ¿Tiene un costo extra lo anterior?</h2>
                    <div class="mc-text text-justify" id="pregunta9" style="display: none;">
                        El costo es adquirir la membresía, que te dará acceso a los servicios ofertados en la
                        plataforma. Esta puede pagarse a través de las tiendas OXXO.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta10'); return false;">
                        10. ¿El currículum es realizado de manera automática por la plataforma?</h2>
                    <div class="mc-text text-justify" id="pregunta10" style="display: none;">
                        Si, nuestra plataforma está automatizada, para enlazar la información que proporciones en la
                        plataforma, de manera adecuada al CVU y posteriormente con la Bolsa de Trabajo.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta11'); return false;">
                        11. ¿Cómo se vincula el Currículum Vitae con la Bolsa de Trabajo?</h2>
                    <div class="mc-text text-justify" id="pregunta11" style="display: none;">
                        La plataforma está desarrollada con tecnología de vanguardia, lo que permitirá la vinculación
                        automática del CVU con la Bolsa de Trabajo, tomando en cuenta los intereses de cada usuario.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta12'); return false;">
                        12. ¿Qué tipos de empresas tienen vínculo con el CVU de la plataforma?</h2>
                    <div class="mc-text text-justify" id="pregunta12" style="display: none;">
                        En la Bolsa de Trabajo tenemos vínculo con empresas de distintas ramas, caracterizándose por ser
                        confiables y reconocidas. Esto con la finalidad de dar seguridad a nuestros usuarios y a las
                        empresas aliadas de que la información proporcionada es verídica y confidencial.
                    </div>
                    <h2 class="text-justify" style="color:white" ui-sref="app.preguntas" onclick="cambiar('pregunta13'); return false;">
                        13. ¿Existen paquetes o promociones para el acceso de los servicios ofrecidos por la
                        plataforma?/ ¿Tiene algún costo el acceso a los servicios de esta plataforma?</h2>
                    <div class="mc-text text-justify" id="pregunta13" style="display: none;">
                        Si, puedes obtener una membresía que te dará acceso a todos los
                        servicios que se ofrecemos en la plataforma, pudiendo tener durante _______ (tiempo) estos
                        servicios de manera ilimitada.
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</section>