<section class="sub-banner sub-banner-course" xmlns="http://www.w3.org/1999/html">
    <div class="awe-static bg-sub-banner-course"></div>
    <div class="container">
        <div class="sub-banner-content">
            <h2 class="big2 col-md-5 text-center text-success" style="color:midnightblue">CONTÁCTANOS</h2>
        </div>
    </div>
</section>
<section class="contacto">
    <div class="container">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <form ng-submit="sendmail();" name="form-contact" class="form-validation">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="h4">Contacto</span>
                            </div>
                            <div class="panel-body">
                                <p class="text-muted">¿Necesita ayuda? por favor, rellene los campos de abajo.</p>
                                <div class="form-group pull-in clearfix">
                                    <div class="col-sm-6">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Nombre"  required >
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="Ingresa tu Email"  required >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Mensaje</label>
                                    <textarea class="form-control" rows="6" placeholder="Dinos que necesitas.." required></textarea>
                                </div>
                            </div>
                            <footer class="panel-footer text-right bg-light lter">
                                <button type="submit" ng-click="dangpark17@gmail.com" rows="6" class="btn m-b-xs btn-info">
                                    <i class="fa fa-floppy-o"></i>
                                    Enviar Mensaje</button>
                            </footer>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3820.383644490701!2d-93.172152!3d16.757578!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ecd97b5e826db5%3A0x54ad440fed658d18!2sTecnol%C3%B3gico+de+Tuxtla+Guti%C3%A9rrez!5e0!3m2!1ses-419!2smx!4v1416981312688" width="567" height="378" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
</section>


<!--
CORREO: soporteiq16@gmail.com
CONTRASEÑA: innovacion2016
-->
