<section id="mc-section-1" class="mc-section-1 section">
    <div class="awe-parallax bg-iq160"></div>
    <div class="overlay-color-1"></div>
    <div class="container">
        <div class="section-1-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget widget_latest_new">
                        <h1 class="big text-center">¡El complemento educativo que esperabas!</h1>
                        <h5 class="text-justify" style="color:white">
                          Descubre el increíble campo del saber con nuestras “CHARLAS DEL CONOCIMIENTO” con
                            especialistas, expertos en la materia… Solo con IQ160 disfruta totalmente GRATIS de estas
                            interesantes participaciones y aprende de ellos…
                        </h5><br>
                          <div class="col-lg-12">
                            <div class="text-center">
                                  <iframe width="560" height="400" src="https://www.youtube.com/embed/vVTtoTLwk6Y?autoplay=1" frameborder="0" allowfullscreen>
                                  </iframe>        
                                  <p class="text-jestify" style="color:white"> La forma mas innovadora de aprender y difundir
                                      conocimientos ¿Qué esperas para conocernos? Entra a nuestra página
                                      <a target="_blank" href="http://www.iq160.mx" style="color:white">www.iq160.mx</a>
                                  </p>
                                 </div>
                          </div>
                           <div class="col-lg-12" >
                               <div class="col-lg-6">
                                 <iframe class="col-lg-12"  height="400" src="https://www.youtube.com/embed/kJm0qnFBcFM" frameborder="0" allowfullscreen>
                                  </iframe>
                                  <p class="text-justify" style="color:white"> En "Charlas del Conocimiento" te mostramos una
                                      interesante experiencia con grandes conocedores de diferentes ramas, en esta
                                      ocasión te presentamos a la Mtra. Edith Muñoz Olin quién es Maestra en Tecnología
                                      avanzada y Análisis de imágenes del CICATA-IPN unidad Querétaro... ¡Disfruta de
                                      este video!</p>
                               </div>
                                <div class="col-lg-6">
                                 <iframe class="col-lg-12"  height="400" src="https://www.youtube.com/embed/FlXxlBD_38k" frameborder="0" allowfullscreen>
                                   </iframe>
                                  <p class="text-justify" style="color:white"> En "Charlas del Conocimiento" te mostramos una
                                      interesante experiencia con grandes conocedores de diferentes ramas, en esta
                                      ocasión te presentamos a un investigador muy reconocido en nuestro país, con grado
                                      SNI I e investigador actual de CICATA-IPN unidad Querétaro.. ¡Disfruta de este
                                      video!</p>
                                </div>
                            </div><br><br>
                           <div class="col-lg-12">
                               <div class="col-lg-6">
                                   <iframe class="col-lg-12" height="400" src="https://www.youtube.com/embed/qxrDt9LWmj8" frameborder="0" allowfullscreen>
                                   </iframe>
                                   <p class="text-justify" style="color:white">En "Charlas del Conocimiento" te mostramos una
                                       interesante experiencia con grandes conocedores de diferentes ramas, en esta
                                       ocasión te presentamos al investigador Julio Rodríguez experto en Biotecnología
                                       en CICATA-IPN unidad Querétaro.. ¡Disfruta de este video!</p>
                               </div>
                               <div class="col-lg-6">
                                   <iframe class="col-lg-12" height="400" src="https://www.youtube.com/embed/UH6DgIv55Bo" frameborder="0" allowfullscreen>
                                   </iframe>
                                   <p class="text-justify" style="color:white">En "Charlas del Conocimiento" te mostramos una
                                       interesante experiencia con grandes conocedores de diferentes ramas, en esta
                                       ocasión te presentamos al Ing. Miguel Iván Ceballos Pérez y su apasionante gusto
                                       por demostrar mejoras a la sociedad de CICATA-IPN unidad Querétaro..
                                       ¡Disfruta de este video!</p>
                               </div>
                           </div><br><br>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <iframe class="col-lg-12" height="400" src="https://www.youtube.com/embed/LYBdVFh7XPg" frameborder="0" allowfullscreen>
                                    </iframe>
                                    <p class="text-justify" style="color:white">En "Charlas del Conocimiento" te mostramos una
                                        interesante experiencia con grandes conocedores de diferentes ramas, en esta
                                        ocasión te presentamos al Ing Ernesto Christian Orozco Magdaleno de CICATA-IPN
                                        unidad Querétaro.. ¡Disfruta de este video!</p>
                                </div>
                                <div class="col-lg-6">
                                    <iframe class="col-lg-12" height="400" src="https://www.youtube.com/embed/rgyPYju_374" frameborder="0" allowfullscreen>
                                    </iframe>
                                    <p class="text-justify" style="color:white">En "Charlas del Conocimiento" te mostramos una
                                        interesante experiencia con grandes conocedores de diferentes ramas, en esta
                                        ocasión te presentamos al Ing. Sergio Monjaraz, quién es un joven emprendedor
                                        que nos muestra como la ciencia y tecnología pueden ir de la mano con el ser
                                        emprendedor, un gran ejemplo y claro, es un talento reconocido de CICATA-IPN
                                        unidad Querétaro.. ¡Disfruta de este video!</p>
                                </div>
                            </div> <br><br>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <iframe class="col-lg-12" height="400" src="https://www.youtube.com/embed/GvpmrsN5dHY" frameborder="0" allowfullscreen>
                                    </iframe>
                                    <p class="text-justify" style="color:white">En "Charlas del Conocimiento" te mostramos una
                                        interesante experiencia con grandes conocedores de diferentes ramas, en esta
                                        ocasión te presentamos experto en DISEÑO y quién ha trabajado en importantes
                                        proyectos que se verán reflejado en la industria en los próximos años... conoce
                                        al CEO de AMIKI DESIGN
                                        <a target="_blank" href=" http://www.amikidesign.com" style="color:white">
                                            www.amikidesign.com
                                        </a>¡Disfruta de este video!</p>
                                </div>
                                <div class="col-lg-6">
                                    <iframe class="col-lg-12" height="400" src="https://www.youtube.com/embed/CVFgHMI0LdI" frameborder="0" allowfullscreen>
                                    </iframe>
                                    <p class="text-justify" style="color:white"> En este video se explica cómo se puede crear un
                                        curso que se oferte a un público en temáticas diferentes...</p>
                                </div>
                            </div> <br><br>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <iframe class="col-lg-12" height="400" src="https://www.youtube.com/embed/VNMHcGlgLdE" frameborder="0" allowfullscreen>
                                    </iframe>
                                    <p class="text-justify" style="color:white">Explicación paso a paso de cómo registrarse al
                                        portal de iq160, donde obtendrás muchos beneficios en conocimientos además de
                                        compartirlos...</p>
                                </div>
                                <div class="col-lg-6">
                                    <iframe class="col-lg-12" height="400" src="https://www.youtube.com/embed/5kJNQBOSrgY" frameborder="0" allowfullscreen>
                                    </iframe>
                                    <p class="text-justify" style="color:white">IQ160 muestra la facilidad de descargar tu
                                        constancia de participación en un curso, taller, diplomado, conferencia... etc.;
                                        desde la plataforma www.iq160.mx</p>
                                </div>
                            </div> <br><br>
                           <div class="col-lg-12">
                               <div class="col-lg-6">

                               </div>
                               <div class="col-lg-6">

                               </div>
                           </div>
                    </div>
                </div>   
             </div>
            </div>
        </div>
    </div>
</section>
