<section class="slide" style="background-image: url(/sitio/images/homeslider/bg.jpg)">
    <div class="container">
        <div class="slide-cn" id="slide-home">
            <!-- SLIDE ITEM -->
            <div class="slide-item">
                <div class="item-inner">
                    <div class="text">
                        <h2>IQ160</h2>
                        <p class="text-justify">Plataforma web de Investigación Científica y Desarrollo
                            Tecnológico Digital
                        </p>
                        <div class="group">
                            <a href="#" class="mc-btn btn-style-1">Ver Más</a>
                        </div>
                    </div>

                    <div class="img">
                        <img ng-src="sitio/images/homeslider/img-thumb.png" alt="">
                    </div>
                </div>

            </div>
            <!-- SLIDE ITEM -->

            <!-- SLIDE ITEM -->
            <div class="slide-item">
                <div class="item-inner">
                    <div class="text">
                        <h2>IQ160</h2>
                        <p class="text-justify">La empresa “IQ160 S.A. de C.V.”
                            <br>innova con la plataforma que integra<br> cuatro servicios en un solo lugar.
                        </p>
                        <div class="group">
                            <a href="#" class="mc-btn btn-style-1">Ver Más</a>
                        </div>
                    </div>

                    <div class="img">
                        <img ng-src="sitio/images/homeslider/img-thumb.png" alt="">
                    </div>

                </div>
            </div>
            <!-- SLIDE ITEM -->

        </div>
    </div>
</section>
<section id="mc-section-1" class="mc-section-1 section">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="mc-section-1-content-1">
                    <h2 class="big">Ejemplares publicados, por volumen.</h2>
                    <ul>
                        <li><a href="#">Ejemplar 1</a></li>
                        <li><a href="#">Ejemplar 2</a></li>
                        <li><a href="#">Ejemplar 3</a></li>
                        <li><a href="#">Ejemplar 4</a></li>
                        <li><a href="#">Ejemplar 5</a></li>
                        <li><a href="#">Ejemplar 6</a></li>


                    </ul>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="mc-section-1-content-1">
                    <h2 class="big">Articulos Aceptados</h2>
                    <ul>
                        <li><a href="#">Articulo Aceptado 1</a></li>
                        <li><a href="#">Articulo Aceptado 2</a></li>
                        <li><a href="#">Articulo Aceptado 3</a></li>
                        <li><a href="#">Articulo Aceptado 4</a></li>
                        <li><a href="#">Articulo Aceptado 5</a></li>
                        <li><a href="#">Articulo Aceptado 6</a></li>


                    </ul>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="mc-section-1-content-1">
                    <h2 class="big">Artículos publicados, artículos por volumen.</h2>
                    <ul>
                        <li><a href="#">Articulo 1</a></li>
                        <li><a href="#">Articulo 2</a></li>
                        <li><a href="#">Articulo 3</a></li>
                        <li><a href="#">Articulo 4</a></li>
                        <li><a href="#">Articulo 5</a></li>
                        <li><a href="#">Articulo 6</a></li>


                    </ul>

                </div>
            </div>



        </div>
    </div>
</section>
<script type="text/javascript" src="/sitio/js/scripts.js"></script>