<section class="slide" style="background-image: url(/sitio/images/homeslider/bg.jpg)">
    <div class="container">
        <div class="slide-cn" id="slide-home">
            <!-- SLIDE ITEM -->
            <div class="slide-item">
                <div class="item-inner">
                    <div class="text">
                        <h2>IQ160</h2>
                        <p class="text-justify">Plataforma web de Investigación Científica y Desarrollo
                            Tecnológico Digital
                        </p>

                    </div>

                    <div class="img">
                        <img ng-src="sitio/images/homeslider/img-thumb.png" alt="">
                    </div>
                </div>

            </div>
            <!-- SLIDE ITEM -->

            <!-- SLIDE ITEM -->
            <div class="slide-item">
                <div class="item-inner">
                    <div class="text">
                        <h2>IQ160</h2>
                        <p class="text-justify">La empresa “IQ160 S.A. de C.V.”
                            <br>innova con la plataforma que integra<br> cuatro servicios en un solo lugar.
                        </p>
                        <div class="group">
                            <a href="#" class="mc-btn btn-style-1">Ver Más</a>
                        </div>
                    </div>

                    <div class="img">
                        <img ng-src="sitio/images/homeslider/img-thumb.png" alt="">
                    </div>

                </div>
            </div>
            <!-- SLIDE ITEM -->

        </div>
    </div>
</section>

<section id="mc-section-1" class="mc-section-1 section">
    <div class="container">
        <div class="row">
           <center><h2 class="big">CONSEJO EDITORIAL.</h2></center>
            <div class="col-md-4">
                <p><b>Presidente.</b>
                    <a href="http://www.hectorguerracrespo.com" target="_blank">Dr. Héctor Guerra Crespo.</a><br/>
                    Instituto Tecnológico de Tuxtla Gutiérrez. (México)<br/>
                    <a href="mailto:hgcrespo@hotmail.com">hgcrespo@hotmail.com</a>
                </p>

                <p><b>Secretario.</b>
                    M.C. Walter Torres Robledo.<br/>
                    Instituto Tecnológico de Tuxtla Gutiérrez. (México)<br/>
                    <a href="mailto:waltertorres@elgrupo.mx">waltertorres@elgrupo.mx</a>
                </p>

                <p><b>Editor de forma.</b>
                    M.C. Octario Ariosto Rios Tercero. <br/>
                    Instituto Tecnológico de Tuxtla Gutiérrez. (México)<br/>
                    <a href="mailto:oarios_oarios@yahoo.com.mx">oarios_oarios@yahoo.com.mx</a>
                </p>

                <p><b>Editor de forma.</b>
                    M.C. Imelda Valles López.<br/>
                    Instituto Tecnológico de Tuxtla Gutiérrez. (México)<br/>
                    <a href="mailto:imevalles@yahoo.com.mx">imevalles@yahoo.com.mx</a>
                </p>

            </div>
            <div class="col-md-4">
                <p><b>Editores</b></p>
                <p><b>Editor traductor.</b>
                    Dra. Magdalena Guerra Crespo.<br/>
                    Instituto de Biotecnología de la UNAM, Cuernavaca Morelos. (México)<br/>
                    <a href="mailto:magdagmx@hotmail.com">magdagmx@hotmail.com</a>
                </p>

                <p><b>Editor traductor.</b>
                    Dr. Daniel Samayoa Penagos.<br/>
                    Instituto Tecnológico de Tuxtla Gutiérrez. (México).<br/>
                    samadaniel@hotmail.com
                </p>

               </div>
            <div class="col-md-4">
                <p><b>Vocales:</b><br/>
                <p><b>Universidad Gral. Pablo Guardado Chávez. </b>Tuxtla Gutiérrez, Chiapas. (México)<br/>
                    M.C. Galdino Belisario Nango Solís. gbnango@hotmail.com<br/>
                    Dr. German Ríos Toledo. german_rios@hotmail.com
                </p>
                <p><b>Universidad Autónoma de Chiapas. </b>Tuxtla Gutiérrez, Chiapas. (México)<br/>
                    Dra. Rebeca Garzón Clemente. rebeca_garzon@hotmail.com<br/>
                <p><b>Instituto Tecnológico de la Paz. </b> La Paz, Baja California Sur.<br/>
                    M.S.C. Javier Alberto Carmona Troyo. jcar68@gmail.com
                </p>

            </div>
        </div>

    </div>
    </div>
</section>
<script type="text/javascript" src="/sitio/js/scripts.js"></script>
<script>
</script>