<!-- HOME SLIDER -->
<section class="slide" style="background-image: url(/sitio/images/homeslider/revista-bg.png)">
    <div class="container">
        <div class="slide-cn" id="slide-home">
            <!-- SLIDE ITEM -->
            <div class="slide-item">
                <div class="item-inner">
                    <div class="text">
                        <h2>Tecnología Digital</h2>
                        <div class="col-lg-6">
                            <p class="text-justify">
                                Está dirigida, tanto para publicar como a nivel lector, a estudiantes de nivel
                                profesional de carreras relacionadas con Ciencias de la Computación.
                            </p>
                        </div>
                       
                    </div>

                    <div class="img">
                        <img src="/sitio/images/homeslider/revista.png" alt="">
                    </div>
                </div>

            </div>
            <!-- SLIDE ITEM -->

            <!-- SLIDE ITEM -->


        </div>
    </div>
</section>
<!-- END / HOME SLIDER -->


<!-- AFTER SLIDER -->
<section id="after-slider" class="after-slider section">
    <div class="awe-color bg-color-1"></div>
    <div class="after-slider-bg-2"></div>
    <div class="container">

        <div class="after-slider-content tb">
            <div class="inner tb-cell">
                <h4>¿Que Buscas?</h4>
                <div class="course-keyword">
                    <input type="text" placeholder="Palabras claves">
                </div>
                <div class="mc-select-wrap">
                    <div class="mc-select">
                        <select class="select" name="" id="all-categories">
                            <option value="" selected>Todas Categorias</option>
                            <option value="">2</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="tb-cell text-right">
                <div class="form-actions">
                    <input type="submit" value="Buscar" class="mc-btn btn-style-1">
                </div>
            </div>
        </div>

    </div>
</section>
<!-- END / AFTER SLIDER -->

<!-- SECTION 1 -->
<section id="mc-section-1" class="mc-section-1 section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="mc-section-1-content-1">
                    <h2 class="big">Descripción</h2>
                    <p class="text-justify">
                        Tecnología Digital está dirigida, tanto para publicar como a nivel lector, a estudiantes de
                        nivel profesional de carreras relacionadas con Ciencias de la Computación.

                        Los artículos a publicar en la revista pueden ser de alguna de las siguientes categorías:

                    <ul>
                        <li>
                            Investigación.

                        </li>
                        <li>
                            Desarrollo Tecnológico.

                        </li>
                        <li>
                            Tecnología Digital es una publicación anual con fecha 22 de diciembre.
                        </li>
                    </ul>
                    </p>
                </div>
            </div>


        </div>
        <div class="row">
            <divp class="col-lg-6">
                <h5 class="text-dark">
                    1. Cobertura temática.
                </h5>
                <p>
                    La revista está enfocada a las siguientes áreas de conocimiento, cabe aclarar que un artículo puede
                    pertenecer a más de una categoría.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>Ciencias de la computación.</li>
                            <li>Sistemas operativos.</li>
                            <li>Algoritmos computacionales.</li>
                            <li>Redes de computadoras.</li>
                            <li>Inteligencia artificial.</li>
                            <li>Procesamiento de imágenes.</li>
                            <li>Estructura de datos.</li>
                            <li>Arquitectura de computadoras.</li>
                            <li>Lenguajes formales.</li>
                            <li>Teoría matemática de la computación.</li>
                            <li>Bases de datos.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Multimedia y realidad virtual.</li>
                            <li>Automatización.</li>
                            <li>Computación distribuida y paralela.</li>
                            <li>Lenguajes y autómatas.</li>
                            <li>Ingeniería de software.</li>
                            <li>Teoría de la computación.</li>
                            <li>Reconocimiento de patrones.</li>
                            <li>Procesamiento digital de imágenes y señales.</li>
                            <li>Graficación.</li>
                            <li>Agentes.</li>
                            <li>Teoría de sistemas.</li>
                            <li>Entre otras.</li>
                        </ul>
                    </div>
                </div>
            </divp>
            <div class="col-lg-6">
                <h5 class="text-dark">
                    2. Criterios para la recepción de artículos.
                </h5>
                <p>
                    Al menos se debe cumplir con el punto a. para considerar el artículo para revisión.
                </p>
                <ol type="a" class="text-justify">
                    <li><b>Inédito y original.</b> Que los trabajos presentados no hayan sido publicados ni sometidos a
                        evaluación en otras revistas o eventos académicos.
                    </li>
                    <li><b>Proyectos registrados.</b> Los artículos a publicar deben ser resultado de proyectos
                        registrados en alguna entidad, siendo conscientes que cada institución maneja sus propios
                        criterios y normatividad de registro, por citar unos ejemplos (sistemas internos de
                        investigación, CONACYT, fondos mixtos, titulación integral en los Institutos tecnológicos,
                        convocatorias de ong´s, etc.).
                    </li>
                    <li><b>Proyectos vinculados.</b> De preferencia artículos resultados de proyectos donde participen
                        varias instituciones de esta manera se espera un mayor impacto con los resultados.
                    </li>
                </ol>


            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <h5 class="text-dark">
                    3.Políticas de revisión, sistema de arbitraje y cronograma de actividades.
                </h5>
                <ol class="text-justify">
                    <li>El comité editorial puede rechazar un artículo si no cumple con los lineamientos editoriales y
                        formatos.
                    </li>
                    <li>Ningún integrante del comité editorial puede formar parte del comité de arbitraje.</li>
                    <li>El comité de arbitraje es la única entidad para aceptar o rechazar artículos.</li>
                    <li>El proceso de revisión es doblemente ciego, es decir, se envía al comité editorial sin autores
                        por lo tanto, también se turna al comité de arbitraje sin éstos, sin embargo, es imposible
                        evitar el correo de contacto que puede dar información sobre un autor o la institución de
                        procedencia.
                    </li>
                    <li>Por ser un proceso de revisión ciego no existe mínimo ni máximo de artículos por autor.</li>
                    <li>Un artículo debe ser revisado al menos por tres árbitros y al menos dos deben dar un veredicto
                        de aceptación.
                    </li>
                    <li>Existen tres veredictos, no aprobado, aprobado con observaciones y aprobado.</li>
                </ol>
            </div>
            <div class="col-lg-4">
                <h5 class="text-dark">
                    4. Recepción de artículos
                </h5>
                <p class="text-justify">Enviar el artículo, omitiendo datos de los autores (el proceso de arbitraje es
                    ciego), a la dirección electrónica:
                </p>
                <blockquote>
                    Presidente Comité Editorial.<br>
                    Dr. Héctor Guerra Crespo.<br>
                    <a href="mailto:hgcrespo@hotmail.com">hgcrespo@hotmail.com</a><br>
                </blockquote>
                <p class="text-justify">Para mayores informes.</p>
                <blockquote>
                    Revista Tecnología Digital.<br>
                    Instituto Tecnológico de Tuxtla Gutiérrez.<br>
                    Carretera Panamericana Km. 1080.<br>
                    C.P. 29000, Tuxtla Gutiérrez, Chiapas, México.<br>
                    Departamento de Sistemas y Computación.<br>
                    <a href="tel:01-961-6150380">01-961-6150380</a> Ext. 319.<br>
                    <a href=" www.revistatecnologiadigital.com"> www.revistatecnologiadigital.com</a>
                </blockquote>
            </div>
            <div class="col-lg-4">
                <h5 class="text-dark"> 5. Descargar archivos de la convocatoria.</h5>
                <ol>
                    Detalles para:
                    <li>3.A Criterios para la recepción de los artículos.</li>
                    <li>3.B Lineamientos generales.</li>
                    <li>3.C Puntos a definir en el artículo.</li>
                    <li>3.D Formato de puntos del artículo.</li>
                    <li>3.E Formato elementos en los artículos.</li>
                    <li>3.F Citas y referencias bibliográficas.</li>
                    <li>3.G Formato elementos en los artículos.</li>
                </ol>
                <li ng-repeat="item in revistas">
                    <a href="/files/{{item.url}}">{{item.name}}</a>

                </li>
            </div>
        </div>
    </div>
</section>
<!-- END / SECTION 1 -->
<script type="text/javascript" src="/sitio/js/scripts.js"></script>