

<section class="slide" style="background-image: url(/sitio/images/homeslider/bg.jpg)">
    <title>Grupo De Investigación Cintifica y Desarrollo Tecnológico A.C.</title>
    <div class="container">
        <div class="slide-cn" id="slide-home">
            <!-- SLIDE ITEM -->
            <div class="slide-item">
                <div class="item-inner">
                    <div class="text">
                      
                        <p class="text-justify">GRUPO DE INVESTIGACIÓN CIENTÍFICA Y DESARROLLO<br> TECNOLÓGICO A.C.
                        </p>
                        <div class="group">
                            <a ui-sref="app.quienes" class="mc-btn btn-style-1">Ver Más</a>
                        </div>
                    </div>

                    <div class="img">
                        <img ng-src="/sitio/images/homeslider/primero.png" alt="">
                    </div>
                </div>

            </div>
            <!-- SLIDE ITEM3 -->
            <!-- SLIDE ITEM3-->
            <div class="slide-item">
                <div class="item-inner">
                    <div class="text">
                        
                        <p class="text-justify">"RECONOCIMIENTOS"<br> Solo Triunfa En El Mundo Quien Se Levanta Y Busca<br> A Las Circunstancias Y Las Crea Si No Las Encuentra.
                        </p>
               
                    </div>
                    <div class="img">
                        <img ng-src="/sitio/images/homeslider/segundoo.png" alt="">
                    </div>

                </div>
            </div>

            <!-- SLIDE ITEM3 -->
            <!-- SLIDE ITEM3-->
            <div class="slide-item">
                <div class="item-inner">
                    <div class="text">
                        <p class="text-justify fnegra">El Consejo Nacional De Ciencia  Y Tecnología
                            Fue Creado<br> Por Disposición Del H. Congreso De La Unión El 29 De<br> Diciembre De 1970
                            Elevar La Calidad, La Competitividad<br> Y La Innovación De Las Empresas
                            Incrementar<br> La Capacidad Científica Y Tecnológica Del País
                        </p>
                    </div>
                    <div class="img">
                        <img ng-src="/sitio/images/homeslider/2.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--<section id="after-slider" class="after-slider section">
    <div class="awe-color bg-color-1"></div>
    <div class="after-slider-bg-2"></div>
    <div class="container">

        <div class="after-slider-content tb">
            <div class="inner tb-cell">
                <h4>¿Qué buscas?</h4>
                <div class="course-keyword">
                    <input type="text" placeholder="Palabras claves">
                </div>
                <div class="mc-select-wrap">
                    <div class="mc-select">
                        <select class="select" name="" id="all-categories">
                            <option value="" selected>Categorías</option>
                            <option value="">Categorías</option>
                        </select>
                    </div>
                </div> 
                <div class="mc-select-wrap">
                    <div class="mc-select">
                        <select class="select" name="" id="beginner-level">
                            <option value="" selected>Nivel principiante</option>
                            <option value="">Nivel Medio</option>
                            <option value="">Nivel Experto</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tb-cell text-right">
                <div class="form-actions">
                    <input type="submit" value="Buscar" class="mc-btn btn-style-1">
                </div>
            </div>
        </div>

    </div>
</section>-->
<!-- END / AFTER SLIDER -->
<!-- SECTION 1 -->
<section id="mc-section-1" class="mc-section-1 section">
    <div class="container">
        <div class="row">

        <div class="col-md-12">
                <div class="mc-section-1-content-1">
                    <h1 class="big text-dark text-center">Bienvenido al GICDT</h1>
                    <div class="col-sm-3">
                        <img src="http://klein.esy.es/site/images/wall.png">
                    </div>
                    <div class="col-sm-9">
                        <p class="mc-text text-justify text-dark">Anhelamos ser parte activa del crecimiento de
                            nuestro país, mejorar la competitividad de nuestro Estado y Región, coadyuvar en los
                            grupos profesionales y de alto nivel en México, que establecen los criterios para
                            certificar los productos y garantizar su alta calidad, SER UN GRUPO DE INVESTIGACIÓN Y
                            DESARROLLO TECNOLÓGICO PROACTIVO. con colaboración de:
                        <li>Doctores</li>
                        <li>Ingenieros</li>
                        <li>Alumnos</li>
                        <li>Empresas</li>
                        </p><br>
                    </div>
                        <div class="col-sm-12 ">
                            <p class="mc-text text-justify text-dark">Que con hechos como la participación en este
                                Honorable Comité, hagamos historia en nuestro Estado y Región, que siendo parte de
                                ellos, coadyuvamos en mejorar la calidad de vida de la sociedad y la rentabilidad de las
                                empresas, así como el impulso a la investigación y desarrollo tecnológico, que tendremos
                                como consecuencia, un MEJOR PAÍS Y PLANETA DONDE VIVIR.. </p>
                           <small>
                            M.C. Walter Torres Robledo
                            </small>

              
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / SECTION 1 -->
<!-- SECTION 2 -->
<section id="mc-section-2" class="mc-section-2 section">
    <div class="awe-parallax bg-section1-demo"></div>
    <div class="overlay-color-3"></div>
    <div class="container">
        <div class="section-2-content">
            <div class="row">
                    <div class="col-sm-4">
                        <div class="featured-item">
                            <i class="icon icon-featured-4"></i>
                            <h4 class="title-box text-uppercase" style="color:white">Becas</h4>
                            <p class="text-justify" style="color:white">El grupo de investigacion cientifíca y desarrollo
                                tecnológico, formula y busca financiamiento sobre programas de becas y de apoyo a la
                                formación de capital humano, científico y tecnológico.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="featured-item">
                            <i class="icon icon-featured-2"></i>
                            <h4 class="title-box text-uppercase" style="color:white">Investigadores</h4>
                            <p class="text-justify" style="color:white">El grupo de investigacion cientifíca y desarrollo
                                tecnológico implementa políticas y programas de apoyo, para promover el desarrollo de la
                                investigación científica y el fortalecimiento académico.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="featured-item">
                            <i class="icon icon-featured-3"></i>
                            <h4 class="title-box text-uppercase" style="color:white">Empresas</h4>
                            <p class="text-justify" style="color:white">El grupo de investigacion cientifíca y desarrollo
                                tecnológico, apoya el desarrollo tecnológico y científico de las empresas.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<section id="mc-section-3" class="mc-section-3 section">
    <div class="container">
        <!-- FEATURE -->
        <div class="feature-course">
            <h4 class="title-box text-uppercase">Los mejores cursos </h4>
            <a href="/app#/app/cursos/view/" class="all-course mc-btn btn-style-1">Ver todos</a>
            <div class="row">
                <div class="feature-slider">
                    <div class="mc-item mc-item-1"  ng-repeat="course in courses">
                        <a href="/app#/app/cursos/inscripcion/{{course.id}}">
                            <div class="image-heading">
                                <img ng-src="/files/{{course.image || 'noimage.png'}}" alt="">
                            </div>
                        </a>
                        <div class="meta-categories"><a  href="#">{{course.category_course.name}}</a></div>
                        <div class="content-item">
                       <!--
                       <div class="image-author">
                            <img src="images/avatar-1.jpg" alt="">
                        </div>
                            -->
                            <h4><a href="/app#/app/cursos/inscripcion/{{course.id}}">
                                <font class="cambioColor2">
                                    {{course.name}}
                                </font>
                            </a></h4>
                            <div class="name-author">
                                <a href="/app#/app/cursos/inscripcion/{{course.id}}">
                                    <font style="color:orange">
                                        {{course.author.name +" "+course.author.ap_pat+" "+course.author.ap_mat}}
                                    </font>
                                </a>
                            </div>
                        </div>
                        <div class="ft-item">
                            <!-- <div class="rating">
                                <a href="#" class="active"></a>
                                <a href="#" class="active"></a>
                                <a href="#" class="active"></a>
                                <a href="#" class="active"></a>
                                <a href="#" class="active"></a>
                            </div> -->
                            <i class="big0 text-center">{{course.start_date}}</i> <br>
                            <div class="view-info">
                                <i class="icon md-users">{{course.quota_min + "-" +course.quota_max}}</i>
                            </div>
                            <!-- <div class="comment-info">
                                <i class="icon md-comment"></i>
                                25
                            </div> -->
                            <div class="price">
                                ${{course.price}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END / FEATURE -->

</div>


    </div>
</section>
<script type="text/javascript" src="/sitio/js/scripts.js"></script>
<script type="text/javascript">

    $('.open-menu').on('click', function () {
        $(this).toggleClass('toggle-active');
        console.log("Click");
        $('.navigation .menu, .search-box').slideToggle(300);
    });
</script>