<!-- CONGRESOS -->
<section class="sub-banner sub-banner-course">
    <div class="awe-static bg-congresos"></div>
    <div class="overlay-color-1"></div>
    <div class="container">
        <dri class="col-md-2"></dri>
        <div class="sub-banner-content">
            <h2 class="big4 col-md-8 text-center text-success" style="color: white">Organización de congresos y <br>ponencias</h2>
        </div>
    </div>
</section>
<section id="mc-section-1" class="mc-section-1 section">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="mc-section-1-content-1">

                    <p style="font-size:20px;color:black" class="big1 text-justify">
                        Dirigido a ti: estudiante de licenciatura, posgrado; investigador, autor o catedrático que
                        necesitas de la coordinación estratégica para la planeación y organización de tu evento de
                        divulgación; donde nosotros te brindaremos la logística y demás elementos necesarios para
                        llevarlo a cabo a la perfección.
                        <br><br>Recuerda: ¡Más que un evento, una experiencia tendrás!
                        <br><br>Los servicios que te ofrecemos para llevar a cabo la organización de tu evento, son:
                    </p>
                    <br>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                    <div class="widget widget_latest_new">
                    <ul>
                        <li class="col-lg-12">
                            <div class="image-thumb" style="float:left">
                                <img ng-src="/sitio/images/congresos/icono1.png" alt="">
                            </div>
                            <span style="font-size:36px;color:greenyellow" class="text-justify">Contacto de ponentes</span>
                        </li>
                        <br><br><br><br>
                        <li class="col-lg-12">
                            <div class="image-thumb" style="float:left">
                                <img ng-src="/sitio/images/congresos/icono2.png" alt="">
                            </div>
                            <span style="font-size:36px;color:darkblue" class="text-justify">Coordinación</span>
                        </li>
                        <br><br><br><br>
                        <li class="col-lg-12">
                            <div class="image-thumb" style="float:left">
                                <img ng-src="/sitio/images/congresos/icono3.png" alt="">
                            </div>
                            <span style="font-size:36px;color:red" class="text-justify">Logística</span>
                        </li>
                        <br><br><br><br>
                        <li class="col-lg-12">
                            <div class="image-thumb" style="float:left">
                                <img ng-src="/sitio/images/congresos/icono4.png" alt="">
                            </div>
                            <span style="font-size:36px;color:orange" class="text-justify">Base de datos</span>
                        </li>
                        <br><br><br><br>
                        <li class="col-lg-12">
                            <div class="image-thumb" style="float:left">
                                <img ng-src="/sitio/images/congresos/icono5.png" alt="">
                            </div>
                            <span style="font-size:36px;color:black" class="text-justify">Plataforma de inscripción al evento</span>
                        </li>
                        <br><br><br><br><br>
                        <li class="col-lg-12">
                            <div class="image-thumb" style="float:left">
                                <img ng-src="/sitio/images/congresos/icono6.png" alt="">
                            </div>
                            <span style="font-size:36px;color:blue" class="text-justify">Trasmisión en vivo el día de evento</span>
                        </li>
                        <br><br><br><br><br>
                        <li class="col-lg-12">
                            <div class="image-thumb" style="float:left">
                                <img ng-src="/sitio/images/congresos/icono7.png" alt="">
                            </div>
                            <span style="font-size:36px;color:maroon" class="text-justify">Difusión en redes sociales del evento</span>
                        </li>
                    </ul></div></div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <a target="_blank" href="/sitio/images/congresos/organiza.pdf" class="col-md-6 widget mc-btn btn-style-2">
                Organiza tu propio Congreso</a>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>

<section id="mc-section-2" class="mc-section-4">
</section>

<section id="mc-section-3" class="mc-section-1 section">
    <div class="container">
        <div class="row">
            <h1 class="big text-dark">EXPERIENCIA 2016</h1>
            <i><h1 class="big0 text-dark text-center"><b>3er Congreso de Ciencia y Tecnología Avanzada</b></h1>
            <h1 class="big0 text-dark text-center"><b>CICATA UNIDAD QUERÉTARO</b></h1></i>
            <div class="col-md-12">
                <div class="mc-section-1-content-1">
                    <center><a>
                        <div class="image-thumb image-author">
                            <img ng-src="/sitio/images/congresos/cicata.png" alt="">
                        </div>
                    </a></center>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="big text-dark text-center">Convocatoria</h2>
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <center><a target="_blank" href="/sitio/images/congresos/convocatoria.pdf">
                        <div class="image-thumb image-author">
                            <img ng-src="/sitio/images/congresos/cicata3.jpg" alt="">
                        </div>
                    </a></center>
                </div>
                <div class="col-lg-5">
                    <center><a target="_blank" href="/sitio/images/congresos/convocatoria.pdf">
                        <div class="image-thumb image-author">
                            <img ng-src="/sitio/images/congresos/cicata4.jpg" alt="">
                        </div>
                    </a></center>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-6">
                <h2 class="big text-dark text-center">Programa</h2>
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <center><a target="_blank" href="/sitio/images/congresos/programa.pdf">
                        <div class="image-thumb image-author">
                            <img ng-src="/sitio/images/congresos/cicata5.jpg" alt="">
                        </div>
                    </a></center>
                </div>
                <div class="col-lg-5">
                    <center><a target="_blank" href="/sitio/images/congresos/programa.pdf">
                        <div class="image-thumb image-author">
                            <img ng-src="/sitio/images/congresos/cicata6.jpg" alt="">
                        </div>
                    </a></center>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="big text-dark text-center">Redes sociales</h2>
                <div class="col-lg-1"></div>
                <center><div class="col-lg-10">
                    <a target="_blank" href="https://www.facebook.com/CICATA2016/?fref=ts" class="btn btn-rounded btn-lg mc-btn btn-style-2">
                        <i class="fa fa-fw fa-facebook"></i>
                        Facebook
                    </a>
                    <a target="_blank" href="https://twitter.com/cicataqro?lang=es" class="btn btn-rounded btn-lg mc-btn btn-info">
                        <i class="fa fa-fw fa-twitter"></i>
                        Twitter
                    </a>
                    <a target="_blank" href="https://www.youtube.com/c/cicataqueretaroipn" class="btn btn-rounded btn-lg mc-btn btn-danger">
                        <i class="fa fa-fw fa-youtube-play"></i>
                        YouTube
                    </a>

                </div></center>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-6">
                <h2 class="big text-dark text-center">Inscríbete</h2>
                <div class="col-lg-12">
                    <a target="_blank" href="https://www.eventbrite.es/e/entradas-3er-congreso-de-ciencia-y-tecnologia-avanzada-26448772992" class="col-lg-2 btn btn-rounded btn-default">
                        <img ng-src="/sitio/images/congresos/cicata_log.png" alt="">
                    </a>
                    <div class="col-lg-9">
                        <a target="_blank" href="https://www.eventbrite.es/e/entradas-3er-congreso-de-ciencia-y-tecnologia-avanzada-26448772992">
                            www.eventbrite.es/e/entradas-3er-congreso-de-ciencia-y-tecnologia-avanzada-26448772992
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mc-section-4" class="mc-section-4">
</section>

<section id="mc-section-5" class="mc-section-1 section">
    <div class="container">
        <div class="row">
            <i><h1 class="big0 text-dark text-center"><b>1er Congreso de</b></h1>
                <h1 class="big0 text-dark text-center"><b>Ingeniería en Gestión Empresarial</b></h1></i>
            <div class="col-md-12">
                <div class="col-md-1"></div>
                <div class="mc-section-1-content-1 col-md-10">
                    <center><a>
                        <div class="image-thumb image-author">
                            <img ng-src="/sitio/images/congresos/igem.png" alt="">
                        </div>
                    </a></center>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-lg-6">
                <h2 class="big text-dark text-center">Programa</h2>
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <center><a target="_blank" href="/sitio/images/congresos/programa.igem.pdf">
                        <div class="image-thumb image-author">
                            <img ng-src="/sitio/images/congresos/igem1.png" alt="">
                        </div>
                    </a></center>
                </div>
                <div class="col-lg-5">
                    <center><a target="_blank" href="/sitio/images/congresos/programa.igem.pdf">
                        <div class="image-thumb image-author">
                            <img ng-src="/sitio/images/congresos/igem2.png" alt="">
                        </div>
                    </a></center>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-6">
                <h2 class="big text-dark text-center">Redes sociales</h2><br>
                <center><div class="col-lg-12">
                    <a target="_blank" href="https://www.facebook.com/Proyecto-Integrador-de-Ingenier%C3%ADa-en-Gesti%C3%B3n-Empresarial-2016-1030499830372096/?ref=ts&fref=ts" class="btn btn-rounded btn-lg mc-btn btn-style-2">
                        <i class="fa fa-fw fa-facebook"></i>
                        Facebook
                    </a>
                </div></center><br><br><br><br><br><br>
                <div class="col-lg-12">
                    <div class="col-lg-2"></div>
                    <a target="_blank" href="https://www.ittg.edu.mx/index.php?option=com_content&view=article&id=1136:presentacion-de-proyectos-de-ingenieria-en-gestion-empresarial-chiapas-exportando-igem-2016&catid=1:latest-news&Itemid=27" class="col-lg-2 btn btn-rounded btn-default">
                        <img ng-src="/sitio/images/congresos/ittg.png" alt="">
                    </a>
                    <div class="col-lg-6">
                        <a target="_blank" href="https://www.ittg.edu.mx/index.php?option=com_content&view=article&id=1136:presentacion-de-proyectos-de-ingenieria-en-gestion-empresarial-chiapas-exportando-igem-2016&catid=1:latest-news&Itemid=27" class="big">
                            www.ittg.edu.mx
                        </a>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="panel b-a">
                        <div class="panel-heading no-border bg-primary">
                            <span class="text-lt">1er congreso de ingeniería en gestión empresarial</span>
                        </div>
                        <div class="center text-center w-full" style="margin-top:-60px">
                            <div ui-jq="easyPieChart" ui-refresh="x" class="inline easyPieChart" style="width: 120px; height: 80px; line-height: 120px;">
                            </div>
                        </div>
                        <a target="_blank" href="https://issuu.com/iq160/docs/1er_congreso_de_ingenier__a_en_gest_ed4607b5103b15">
                        <img src="img/revista_congreso.png" class="img-full">
                        </a>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <a target="_blank" href="/sitio/images/congresos/organiza.pdf" class="col-md-6 widget mc-btn btn-style-2">
                Organiza tu propio Congreso</a>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/sitio/js/scripts.js"></script>
<script type="text/javascript">
    $('.open-menu').on('click', function() {
        $(this).toggleClass('toggle-active');
        console.log("Click");
        $('.navigation .menu, .search-box').slideToggle(300);
    });
</script>