<section id="mc-section-1" class="mc-section-1 section">
    <div class="awe-parallax bg-equipo"></div>
    <div class="overlay-color-3"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="mc-section-1-content-1">
                    <h2 class="big2 text-center text-success" style="color:white">TERMINOS Y CONDICIONES</h2>
                    <p class="big1 mc-text text-justify" style="color:whitesmoke">
                        <br>
                        Los presentes “Términos y Condiciones de Uso”  reglamentan la utilización de los servicios que
                        proporciona la plataforma del GICDT a toda persona que sea miembro (en adelante usuarios); los
                        cuales son obtenidos mediante membresías y están sujetos a la aceptación de los presentes
                        “Términos y Condiciones de Uso” por los usuarios, de una forma voluntaria y consciente,
                        sujetándose a las condiciones actuales y a las que pudieran darse más adelante, sin previo
                        aviso. Así también tienen derecho a no aceptar su uso y los servicios que el portal proporciona.
                        <br>
                        <br>IQ160 no es responsable de la información que se registre en la Plataforma web de
                        investigación científica y desarrollo tecnológico, ni del perjuicio que ello origine; ni de la
                        veracidad de la información publicada de las ofertas de empleo, perfiles laborales de los
                        candidatos, así como de los resultados finales del contacto y los procesos resultantes que se
                        deriven entre empleadores y candidatos.  GICDT señalará con claridad las fuentes de información
                        y los criterios de confiabilidad que se hubieran tomado en cuenta para la incorporación de las
                        ofertas de empleo.
                        <br>
                        <br>GICDT no es responsable de la información que se muestra en otros sitios web a los que el
                        usuario tiene acceso desde la plataforma. Con el objeto de facilitarle la navegación y ampliar
                        la información ofrecida en el portal, se establecen enlaces a otras páginas Web, por lo que es
                        recomendable examinar las condiciones de uso de éstas para determinar si las acepta o no.
                        <br>
                        <br>GICDT se reserva el derecho de suspender el servicio a todos aquellos usuarios que no
                        cumplan con estos “Términos y Condiciones de Uso”.
                        La Plataforma web de investigación científica y desarrollo tecnológico se reserva el derecho de
                        modificar y actualizar, cualquier contenido de configuración o de diseño, cualquier servicio y
                        los presentes “Términos y Condiciones de Uso” en cualquier momento y sin necesidad de previo
                        aviso o notificación a los usuarios, así como añadir servicios nuevos, entendiéndose que las
                        mismas son aceptadas si el usuario o usuarios utilizan los servicios que ofrece el sitio.
                        <br>
                        <br>Queda absolutamente prohibida la utilización de las imágenes, gráficos, contenidos,
                        logotipos y formatos de registro que utiliza la plataforma del GICDT, salvo que el equipo IQ160
                        lo autorice en forma explícita y por escrito.
                        <br>
                        <br>La plataforma del GICDT no se responsabiliza de la inactividad del sitio web como consecuencia
                        de causas ajenas como cortes de energía eléctrica, avería en el hosting, averías o cortes en las
                        redes de comunicación, y en general, debido a cualquier avería o fallo en nuestro sistema
                        informático, ajenos a nuestra voluntad, comprometiéndonos a hacer todo lo que sea posible para
                        restablecer el servicio en el mínimo de tiempo.
                        <br>
                        <br>El usuario deberá comunicar al portal del GICDT cualquier ilegalidad o anomalía que observe,
                        tras estudiarla procederemos a dar atención a la misma.
                        <br>
                        <br>Cualquier comunicación que se quiera tener con el Portal el GICDT puede ser a través del correo
                        electrónico soporte@gicdt.mx.
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-6 col-lg-offset-1">
                <div class="row">

                </div>
            </div>

        </div>
    </div>
</section>