<section class="sub-banner sub-banner-course">
    <div class="awe-static bg-sub-banner-course"></div>
    <div class="container">
        <div class="sub-banner-content">
            <h2 class="big2 col-md-5 text-center text-success" style="color:midnightblue">AYUDA</h2>
        </div>
    </div>
</section>

<section id="mc-section-1" class="mc-section-1 section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mc-section-1-content-1">
                    <ul class="list-style-block">
                        <li><a ui-sref="app.ayuda" style="font-size:25px">¿Cómo unirme a la plataforma?</a></li>
                        <li><a ui-sref="app.ayuda" style="font-size:25px">¿Cómo acceder a un congreso?</a></li>
                        <li><a ui-sref="app.ayuda" style="font-size:25px">¿Cómo publicar en la revista?</a></li>
                        <li><a ui-sref="app.ayuda" style="font-size:25px">¿Cómo ser evaluador de los artículos de las revistas?</a></li>
                        <li><a ui-sref="app.ayuda" style="font-size:25px">¿Cómo inscribirme a un curso?</a></li>
                        <li><a ui-sref="app.ayuda" style="font-size:25px">¿Cómo impartir un curso?</a></li>
                        <li><a ui-sref="app.ayuda" style="font-size:25px">¿Cómo funciona la bolsa de trabajo?</a></li>
                        <li><a ui-sref="app.ayuda" style="font-size:25px">¿Cómo crear mi CVU?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / SECTION 1 -->