<section id="mc-section-1" class="mc-section-1 section">
    <div class="awe-parallax bg-gicdt"></div>
    <div class="overlay-color-3"></div>
    <div class="container">
        <div class="section-1-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget widget_latest_new">
                        <h2 class="big text-center">¿Quiénes somos?</h2>
                        <p class="big1 mc-text text-justify">
                            <b>“GICDT A.C.”</b> es el Grupo de Investigación Científica y Desarrollo Tecnológico, que en
                            conjunto con el grupo <a target="_blank" href="http://www.iq160.mx" style="color:white">
                            <b>“IQ160"</b></a>, satisfacen las necesidades de la sociedad aplicando la
                            tecnología en la solución de problemas de la vida diaria. Ambos grupos están conformados por
                            personas emprendedoras comprometidas con la sociedad que aplicando los conocimientos y
                            desarrollando nuevas tecnologías, se enfocan en la solución de problemas y las necesidades
                            sobre todo de investigadores, autores y estudiantes de posgrado.

                            La consolidación del grupo <b>“GICDT A.C.”</b> fue en el año 2004 y cabe mencionar que desde ese
                            año hasta la fecha, se han realizado varias actividades en el ramo de la investigación,
                            mencionando entre ellos, los siguientes:
                        </p>
                        <li class="big1 mc-text text-justify">Obtención del Primer lugar en Fortaleza, Brasil.</li>
                        <li class="big1 mc-text text-justify">Participación en el desarrollo del módulo de Gobierno
                            Exprés.</li>
                        <li class="big1 mc-text text-justify">Desarrollo del Sistema de Semaforización.</li>
                        <li class="big1 mc-text text-justify">"La Oruga de la Ciencia".</li>
                        <li class="big1 mc-text text-justify">Realización de trámites y registros de patentes.</li>
                        <li class="big1 mc-text text-justify">Obtención del "Reconocimiento al Mérito Estatal en
                            Desarrollo Tecnológico e Innovación 2006".</li>
                        <p class="big1 mc-text text-justify">
                            Todo lo anterior, propicia la idea en difundir para nuestros usuarios, las fortalezas del
                            grupo de trabajo para contribuir con el desarrollo de nuestro estado, Chiapas.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mc-section-2" class="mc-section-1 section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mc-section-1-content-1">
                    <h2 class="big text-center text-dark">Misión</h2>
                    <p class="big1 mc-text text-justify text-dark">
                        Ofrecer la infraestructura humana, técnica y administrativa para que autores, investigadores y
                        alumnos de posgrado que sean proactivos, creativos, y quieran compartir sus conocimientos y
                        experiencias, encuentren un espacio de desarrollo para cultivar y transferir su dedicación al
                        trabajo, a la sociedad, la naturaleza y la ciencia.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mc-section-1-content-1">
                    <h2 class="big text-center text-dark">Visión</h2>
                    <p class="big1 mc-text text-justify text-dark">
                        Ser el primer espacio de publicación para autores, investigadores y alumnos de posgrado a fin de
                        compartir las aportaciones de investigaciones y la información obtenida a través de ella, siendo
                        proveedores del conocimiento para el desarrollo de proyectos que conlleven al desarrollo de
                        productos que estén en armonía con las sociedades y el medio ambiente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>