<!DOCTYPE html>
<section class="sub-banner sub-banner-course">
    <div class="awe-static bg-cvu"></div>
    <div class="overlay-color-1"></div>
    <div class="container">
        <dri class="col-md-2"></dri>
        <div class="sub-banner-content">
            <h2 class="big4 col-md-8 text-center text-success" style="color: white">Currículum Vitae Único (CVU) <br> y Bolsa de
                trabajo</h2>
        </div>
    </div>
</section>
<section id="mc-section-1" class="mc-section-1 section">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="image-author col-md-2">
                <center><img ng-src="/sitio/images/feature/cvu-1.jpg" alt=""></center>
            </div>
            <div class="col-md-8">
                <div class="mc-section-1-content-1">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p class="big1 text-justify" style="color: darkblue;">
                            Ofrece a los usuarios una herramienta para poder elaborar su currículum vitae de manera
                            sencilla, rápida y confiable, y la actualización automática en el CVU de las actividades
                            realizadas en la plataforma por los miembros registrados.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="mc-section-1-content-1">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p class="big1 text-justify" style="color: darkblue;">
                            Brinda a las empresas, la oportunidad de reclutar y seleccionar a las personas con el perfil
                            requerido para las vacantes disponibles, garantizando la revisión correcta de los
                            currículums vitae de los posibles candidatos.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="image-author col-md-3">
                <center><img ng-src="/sitio/images/feature/cvu-2.jpg" alt=""></center>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="image-author col-md-3">
                <center><img ng-src="/sitio/images/feature/cvu-3.jpg" alt=""></center>
            </div>
            <div class="col-md-8">
                <div class="mc-section-1-content-1">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p class="big1 text-justify" style="color: darkblue;">
                            Permitiendo así, que se logre un vínculo entre el empleador y el empleado.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    
</section>